<div class="container booking-list">
  <h2>My Blank Canvases</h2>
  <ul>
      <% @bookings.each do |b| %>
      <li>
        <div class="artist-bookings-card">
          <div class="wall_photo" style="background-image: url('<%= cl_image_path b.wall.photo, height: 300, width: 400, crop: :fill %>')"></div>
          <div class="booking_wall_description">
            <p><%= b.wall.address %></p>
            <p><%= b.wall.description %></p>
            <p><%= b.date %></p>
          </div>
          <div class="artist_bookings-view-wall btn btn-primary">
            <%= link_to 'View Wall', wall_path(b.wall)  %>
          </div>
        </div>
      </li>
      <% end %>
  </ul>

</div>

