  <div class="banner" style="background-image: linear-gradient(-190deg, rgba(76,51,35,-0.5) 0%, rgba(0,0,10, 0.5) 80%), url('<%= image_path 'banner.png' %>');">

    <% if !user_signed_in? %>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-default landing-signin' %>
    <% end %>
    <div class="banner-content">
      <%= image_tag 'https://fontmeme.com/permalink/180815/05b0d174afbabe279ae4966602c38880.png', class: 'logo-img' %>
      <h2><i>Brush your world with colors or just tag it.</i></h2><br>
      <%= link_to 'Explore', walls_path, class: 'btn btn-success' %>
    </div>

  </div>



<!-- card for tagit value proposition -->

  <div class="container">
<div class="content-title" style="text-align:  center;
    padding: 10px;
    margin-top:  20px;">
    <h1><strong>About us</strong></h1>
  </div>
  <div class="row">
    <div class="card-left">
      <div class="card-img">
        <%= image_tag "https://www.graffitistreet.com/crystal-wagner-the-unexpected-street-art-urban-festival-fort-smith-arkansas-pc-justkids-1/", height: 290 %>
      </div>
      <div class="card-info">
        <p>You have an artistic free spirit and live your life around arts, you fancy brushing your walls with some colors. You can search for a wall and express your street art on it.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-right">
      <div class="card-info-left">
        <p>You have an empty wall and are not proud about it. There is no colors and feel like it's missing something. You can look for a street artist to paint or tag your wall with love.</p>
      </div>
      <div class="card-img">
        <%= image_tag "http://wallpapercrafter.com/uploads/posts/76507-a-man-with-a-cup-of-coffee-sitting-on-a-ledge-in-the-wall-on-an-empty-street___drinking-coffee-on-empty-street.jpg", height: 290 %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="card-left">
      <div class="card-img">
        <%= image_tag "http://www.squaremouthstudios.com/wp-content/uploads/2017/03/Family_49.jpg", height: 290 %>
      </div>
      <div class="card-info">
        <p>Freely search, chat and connect with each other to make street art accessible and common art for everyone.</p>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    const nav = document.querySelector('.navbar-wagon');
    nav.classList.add('transparent');
  };
</script>
