<div id="show-map">
  <div
  id="map"
  style="position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  position: relative;" data-markers="<%= @markers.to_json %>">
    <div style="height: 100%;
    width: 200px;
    position:
    absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);">
    </div>
  </div>
</div>

<div class="wrapper show-wrapper">
  <div class="container">

    <div class="show-columns">
      <div class="show-left">
        <div class="show-info">
          <h1 class='name-header'><%= @wall.name %></h1>
          <br>
          <p class='address' > <i class="fas fa-map-pin"></i> <%= @wall.address %></p>
          <p class='owner' ><strong> <i class="fas fa-user"></i> </strong><%= @wall.user.email %></p>
          <p class='description' > <%= @wall.description %></p>
          <%= link_to 'Back', walls_path, class: 'btn btn-warning' %>
          <% if policy(@wall).edit? %>
          <%= link_to 'Edit wall', edit_wall_path(@wall), class: 'btn btn-primary' %>
          <% end %>
          <% if policy(@wall).destroy? %>
          <%= link_to 'Delete wall', wall_path, method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </div>
        <div class="show-photo">
          <%= cl_image_tag @wall.photo, height: 300, crop: :fill, class: 'image' %>
        </div>
      </div>

      <div class="show-right">
        <div class="book-box">

          <%= simple_form_for [@wall, @booking] do |f|%>
          <%= f.input :date, as: :string, input_html: { class: "datepickr" }, placeholder: "pick a date" %>
          <%= f.input :initial_message, label:'Message', as: :text %>
          <%= f.submit class: 'btn btn-red' %>
          <% end %>

        </div>
      </div>
    </div>
    <br>
  </div>
</div>
