<div class="booking-flex">
  <% if @bookings.present? %>

  <div class="container booking-list" style="width: <%if @walls.present?%> 50%; <% end %>" >
    <h2>My Blank Canvases</h2>
    <div class="bookings-list-scroll">
      <ul>
        <% @bookings.each do |b| %>
        <% date_obj = b.date %>
        <li class="<%= b.status %>">
          <div class="artist-bookings-card">
            <div class="wall_photo" style="background-image: url('<%= cl_image_path b.wall.photo, height: 300, width: 400, crop: :fill %>')"></div>
            <div class="booking_wall_description">
              <p><%= b.wall.name %></p>
              <p><%= b.wall.address %></p>
              <div class= "artist-bookings-confirmation">
                <% if b.status =="pending" %>
                <p class="pending-text">Pending for <%= b.date&.strftime('%a %d %b %Y') %></p>
                <% elsif b.status == "accepted" %>
                <p class="accepted-text">Confirmed for <%= b.date&.strftime('%a %d %b %Y') %></p>
                <%  elsif b.status == "declined" %>
                <p class="declined-text">Declined for <%= b.date&.strftime('%a %d %b %Y') %></p>
                <% end %>
              </div>
            </div>
            <div class="artist-bookings-buttons">
              <%= link_to wall_path(b.wall) do %>
              <div class="artist_bookings-view-wall btn">
                View Wall
              </div>
              <% end %>
              <% if b.status == "accepted" %>
                <%= link_to new_wall_completed_project_path(b.wall) do %>
                <div class="artist_bookings-view-wall btn">
                  Complete Project
                </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
  <% end %>

  <% if @walls.present? %>
  <div class="container owner-bookings" style="width: <%if @bookings.present?%> 50%; border-left: 1px solid rgba(0,0,0,0.8);<% end %>" >

    <h2>My Owned Walls</h2>
    <div class="wrapper-bookings">
      <!-- <div class="owner-bookings-headers">
        <p>My Walls</p>
        <p>Artist Bookings</p>
      </div> -->
      <div class="bookings-list-scroll">
        <ul>
          <% @walls.each do |wall| %>
          <li>
            <div class="owner-bookings-bookings">
              <div class="owner-bookings-wall">
                <%= link_to wall_path(wall) do %>
                <div class="wall_photo" style="background-image: url('<%= cl_image_path wall.photo, height: 100, width: 200, crop: :fill %>')"></div>
                <p class="owner-wall-name"> <%= wall.name %></p>
                <% end %>
              </div>
              <% wall.bookings.each do |booking| %>
              <div class="owner-booking-list-item">
                <p><strong>Booking</strong> for <%= booking.date.to_formatted_s(:long_ordinal) %>
                  from <%= booking.user.email %></p>
                  <% if booking.initial_message %>
                  <p><em>"<%= booking.initial_message %>"</em></p>
                  <% end %>
                  <% if booking[:status] == "pending" %>
                  <div class="confirmation-buttons">
                    <%= form_for(:booking, :url => update_booking_path, :method => :patch, :html => { class:"confirm-booking-button"}) do |f| %>
                    <%= f.hidden_field :status, :value => "accepted" %>
                    <%= f.hidden_field :id, :value => booking.id %>
                    <%= f.submit "Accept", class: "button button-success"  %>
                    <% end %>

                    <%= form_for(:booking, :url => update_booking_path, :method => :patch, :html => { class:"decline-booking-button"}) do |f| %>
                    <%= f.hidden_field :status, :value => "declined" %>
                    <%= f.hidden_field :id, :value => booking.id %>
                    <%= f.submit "Decline", class: "button button-declined" %>
                    <% end %>
                  </div>

                  <% elsif  booking[:status] == "accepted" %>
                  <p class="accepted">Accepted</p>
                  <% elsif  booking[:status] == "declined" %>
                  <p class="declined">Declined</p>
                  <% end %>
                </div>
                <% end %>
                <% end %>
              </div>
            </li>
          </ul>

      </div>

    </div>
  </div>
  <% end %>


</div>
