<div class="booking-flex">
  <div class="container booking-list" style="width: <%if @walls.present?%> 50%; <% end %>" >
    <h2>My Blank Canvases</h2>
    <ul class="bookings-list-scroll">
      <% @bookings.each do |b| %>
      <li class="<%= b.status %>">
        <div class="artist-bookings-card">
          <div class="wall_photo" style="background-image: url('<%= cl_image_path b.wall.photo, height: 300, width: 400, crop: :fill %>')"></div>
          <div class="booking_wall_description">
            <p><%= b.wall.name %></p>
            <p><%= b.wall.address %></p>
          </div>
          <div class= "artist-bookings-confirmation">
            <% if b.status =="pending" %>
            <p class="pending-text">Pending for <%= b.date %></p>
            <% elsif b.status == "accepted" %>
            <p class="accepted-text">Confirmed for <%= b.date %></p>
            <%  elsif b.status == "declined" %>
            <p class="declined-text">Declined for <%= b.date %></p>
            <% end %>
          </div>
          <div class="artist_bookings-view-wall btn btn-primary">
            <%= link_to 'View Wall', wall_path(b.wall)  %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="container owner-bookings" style="width: <%if @bookings.present?%> 50%; border-left: 1px solid black;<% end %>" >

    <h2>My Owned Walls</h2>
    <div class="wrapper-bookings">
      <!-- <div class="owner-bookings-headers">
        <p>My Walls</p>
        <p>Artist Bookings</p>
      </div> -->

      <ul class="bookings-list-scroll">
        <% @walls.each do |wall| %>
        <li>
          <div class="owner-bookings-wall">
            <%= link_to wall_path(wall) do %>
            <div class="wall_photo" style="background-image: url('<%= cl_image_path wall.photo, height: 300, width: 400, crop: :fill %>')"></div>
            <% end %>
            <p class="owner-wall-name"> <%= wall.name %></p>
          </div>
          <div class="owner-bookings-bookings">
            <ul>
              <% wall.bookings.each do |booking| %>
              <li>
                <% if booking[:status] == "pending" %>
                <p><strong>Booking</strong> for <%= booking.date %></p>
                <p>from <%= booking.user.email %></p>
                <p></p>
                <div class="confirmation-buttons">
                  <%= form_for(:booking, :url => update_booking_path, :method => :patch, :html => { class:"confirm-booking-button"}) do |f| %>
                  <%= f.hidden_field :status, :value => "accepted" %>
                  <%= f.hidden_field :id, :value => booking.id %>
                  <%= f.submit "Accept", class: "button button-success"  %>
                  <% end %>

                  <%= form_for(:booking, :url => update_booking_path, :method => :patch, :html => { class:"decline-booking-button"}) do |f| %>
                  <%= f.hidden_field :status, :value => "declined" %>
                  <%= f.hidden_field :id, :value => booking.id %>
                  <%= f.submit "Decline", class: "button button-declined" %>
                  <% end %>
                </div>

                <% elsif  booking[:status] == "accepted" %>
                <p><%= booking.date %></p>
                <p class="accepted">Accepted</p>
                <% elsif  booking[:status] == "declined" %>
                <p><%= booking.date %></p>
                <p class="declined">Declined</p>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </li>
      </ul>

    </div>
  </div>


</div>
