<div class="container">
  <h2>COMPLETED PROJECT</h2>
  <%= simple_form_for [@wall, @completed_project] do |f| %>
  <%= f.input :name, label: "Project Name" %>
  <%= f.input :description, label: "Project Description"  %>
  <%= f.input :collaborators %>
  <%= f.input :photo %>
  <%= f.hidden_field :user_id, :value => current_user.id  %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit, "Complete Project", class: "btn-danger" %>
  <% end %>
</div>
